
.home-header{
    background:no-repeat center;
    background-size: cover;
    /*background-image: url('../img/uvodni_obrazek.png');*/
    background: linear-gradient(to bottom, #ccffff 0%, #ffffcc 100%);
    height: 500px;
    margin-bottom: 50px !important;
}
.jumbotron{
    padding: 4rem 2rem;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
body{
    margin-top: 50px;
    background: linear-gradient(to bottom, #ffffcc 35%, #ccffff 85%);
    
}
.white-text{
    color: #fff !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-family: inherit;
    line-height: 1.2;
    color: inherit;
}
h2 {
    font-size: 1.875rem;
}
.telo {
    background-image: url('../img/obrazek_telo.png');
    background-size: cover;
    background: no-repeat center;
}

logo{
    padding-right: 10px !important;
    margin-right: 10px !important;
}
.bg-dark{
    background-color: black !important;
}

nav{
    font-size: 18px
}
seznam{
    margin-left: 10px !important;
}
.display-1{
    font-size: 9em
}
polozka { 
    display: block;
    list-style-type: none !important;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 50px;
}
.list-unstyled{
    padding-left: 10px;
}
main{
    font-size: 1.2em;
    font-family: 'Didact Gothic', sans-serif;
    

}
.podnapis {
    font-size: 1.5em !important;
}
tg{
    table-layout: fixed;
    width: 239px;
}
.column {
    float: left;
    width: 50%;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
img{
        height: auto;
        max-width: 100%;
    }

.mezera {
    padding-top: 100px;
}
.stred{
    text-align: center !important;
}
